.completed {
  text-decoration: line-through;
}

.item-checkmark {
  width: 5%;
}

.list-item {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 35px;
}

.soon-color {
  background-color: #eb2f06;
}

.kind-of-soon-color {
  background-color: #eccc68;
}

.not-soon-color {
  background-color: #2ed573;
}

.inactive-color {
  background-color: #747d8c;
}
