.completed {
  text-decoration: line-through;
}

.list-item {
  margin: 0.5rem;
}

.checkbox {
  margin-right: 1rem;
}

.delete {
  margin-left: 1rem;
  position: absolute;
  right: 0;
}

.list-item {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 35px;
  cursor: pointer;
}

.list-item div {
  cursor: initial;
}

.soon-color {
  background-color: #ff6b6b;
}

.kind-of-soon-color {
  background-color: #f5e9b3;
}

.not-soon-color {
  background-color: #bce8e5;
}

.inactive-color {
  background-color: #d2d2d4;
}
