.Welcome {
  display: flex;
  flex-direction: column;
}

.Welcome-NewList {
  display: flex;
  justify-content: space-between;
}

.Welcome-JoinList {
  display: flex;
  justify-content: space-between;
}
