html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
  padding: 25px;
}
.nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
}

.nav div {
  display: inline-block;
  width: 49%;
  border: 0.2px solid black;
  height: 50px;
  text-align: center;
}

a {
  text-decoration: none;
}

.active {
  color: black;
  text-decoration: underline;
}

header {
  text-align: center;
}
