html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
  padding: 25px;
}
.nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.nav div {
  display: inline-block;
  width: 49%;
  border: 0.2px solid black;
  height: 50px;
  text-align: center;
}
